<h1>Categories</h1>

<h3>Living</h3>
Apartment:
{{#each model as |category|}}
{{#each category.housings as |housing|}}
{{#each housing.apartment as |apartment|}}
  <li>
    <!-- If things mess up it is because there are no routes set for apartment yet -->
    {{#link-to 'apartment' apartment.post-num}}{{apartment.post-num}}{{/link-to}}
  </li>
{{/each}}
{{/each}}
{{/each}}
<br>
House:
{{#each model as |category|}}
{{#each category.housings as |housing|}}
{{#each housing.house as |house|}}
  <li>
    <!-- If things mess up it is because there are no routes set for housing yet -->
    {{#link-to 'house' house.post-num}}{{house.post-num}}{{/link-to}}
  </li>
{{/each}}
{{/each}}
{{/each}}


<h3>Jobs</h3>
Software Jobs:
{{#each model as |category|}}
{{#each category.jobs as |job|}}
{{#each job.software as |software|}}
  <li>
    {{software.post-num}}
  </li>
{{/each}}
{{/each}}
{{/each}}
<br>
Non-Software Jobs:
{{#each model as |category|}}
{{#each category.jobs as |job|}}
{{#each job.non-software as |non-software|}}
  <li>
    {{non-software.post-num}}
  </li>
{{/each}}
{{/each}}
{{/each}}
